:root {
  --brand-blue-color: #2196f3;
  --brand-black-color: #212121;
  --brand-grey-color: #757575;
  --background-page: #ffffff;
  --brand-white-color: #ffffff;
  --background-button-grey: #f5f4fa;
  --background-darkgrey: #2f303a;
  --card-set-gap: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--brand-black-color);
  background-color: var(--background-page);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  all: unset;
  background-color: var(--brand-blue-color);
  color: var(--brand-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  -webkit-transition: -webkit-filter var(--animation);
  transition: -webkit-filter var(--animation);
  transition: filter var(--animation);
  transition: filter var(--animation), -webkit-filter var(--animation);
}

.button:hover,
.button:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  text-decoration: none;
  margin-right: 93px;
}

.logo__web {
  color: var(--brand-blue-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo__studio {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: var(--brand-black-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brand-blue-color);
}

.site-nav__link--current {
  color: var(--brand-blue-color);
}

.site-nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-blue-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-nav__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-nav__item--right {
  margin-left: 50px;
}

.contact-nav__mail-icon {
  display: inline-block;
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  -webkit-transition: fill var(--animation), cursor var(--animation);
  transition: fill var(--animation), cursor var(--animation);
}

.contact-nav__smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--brand-grey-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--brand-blue-color);
  cursor: pointer;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__container {
  text-align: center;
}

.hero__title {
  color: var(--brand-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 0px;
}

.section.features {
  padding-bottom: 0;
}

.features-item {
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--background-button-grey);
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle .features {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.subtitle .features-desc {
  color: var(--brand-grey-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__item {
  margin-right: 30px;
  position: relative;
}

.activity__item:last-child {
  margin-right: 0;
}

.activity__desc {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-page);
}

.section.team {
  background-color: var(--background-button-grey);
}

.team-person {
  background-color: var(--brand-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team-person:last-child {
  margin-right: 0;
}

.team-person .name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-person .job {
  color: var(--brand-grey-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.team-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
  margin-left: 32px;
}

.team-follow .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), border-radius var(--animation);
  transition: background-color var(--animation), border-radius var(--animation);
}

.team-follow .link:hover, .team-follow .link:focus {
  background-color: var(--brand-blue-color);
  border-radius: 50%;
}

.team-follow .link:hover .social-icon,
.team-follow .link:focus .social-icon {
  fill: var(--background-page);
}

.team-follow .social {
  margin-right: 10px;
}

.team-follow .social:last-child {
  margin-right: 0;
}

.name-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.company-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.client-item {
  display: inline-block;
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.client-item:last-child {
  margin-right: 0;
}

.client-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.client-item .link:hover, .client-item .link:focus {
  border: 1px solid var(--brand-blue-color);
}

.client-item .link:hover .company-icon,
.client-item .link:focus .company-icon {
  fill: var(--brand-blue-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress {
  color: var(--brand-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-darkgrey);
}

.footer-nav .contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  padding-top: 9px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.footer-nav:focus, .footer-nav:hover {
  color: var(--brand-blue-color);
}

.footer-nav .logo-link {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 20px;
  margin-right: 0;
}

.logo-page-studio-white {
  color: var(--brand-white-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.icon-footer {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: var(--background-page);
}

.block-follow {
  margin-left: 70px;
  margin-right: 93px;
  padding-top: 12px;
  padding-bottom: 40px;
}

.follow {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--brand-white-color);
  text-transform: uppercase;
}

.follow-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.follow-order .social {
  margin-right: 10px;
}

.follow-order .social:last-child {
  margin-right: 0;
}

.follow-order .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color var(--animation), cursor var(--animation);
  transition: background-color var(--animation), cursor var(--animation);
}

.follow-order .link:hover, .follow-order .link:focus {
  background-color: var(--brand-blue-color);
  cursor: pointer;
}

.icon-send {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-form {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form[placeholder] {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-box {
  padding-top: 12px;
  margin-left: auto;
}

.subscribe-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-filter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-button {
  margin-right: 8px;
}

.project-button:last-child {
  margin-right: 0;
}

.button-filter {
  all: unset;
  color: inherit;
  background-color: var(--background-button-grey);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.button-filter:hover, .button-filter:focus {
  color: var(--brand-white-color);
  background-color: var(--brand-blue-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.project-list .link {
  text-decoration: none;
}

.project-item {
  background-color: var(--brand-white-color);
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.project-item:hover, .project-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:hover .project-text,
.project-item:focus .project-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-name {
  color: var(--brand-black-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-desc {
  color: var(--brand-grey-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}

.project-block {
  padding: 20px 24px;
}

.project-img {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-blue-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  margin-bottom: 0;
  color: var(--background-page);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-page);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-close {
  width: 11px;
  height: 11px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-page);
}

.modal-button:hover .modal-close,
.modal-button:focus .modal-close {
  fill: var(--brand-blue-color);
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-black-color);
  display: block;
  margin-bottom: 12px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-field.last {
  margin-bottom: 0;
}

.form-field label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--brand-grey-color);
}

.form-input {
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
  height: 40px;
}

.form-input:focus, .form-input:hover {
  border-color: var(--brand-blue-color);
  cursor: pointer;
  outline: none;
}

.form-input:hover + .icon-form,
.form-input:focus + .icon-form {
  fill: var(--brand-blue-color);
}

.icon-form {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: inherit;
  position: absolute;
  top: 70%;
  left: 12px;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.form-field textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.form-field textarea:hover, .form-field textarea:focus, .form-field textarea:focus-visible {
  border-color: var(--brand-blue-color);
  cursor: pointer;
  outline: none;
}

.form-field textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.politic {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-grey-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 30px 13px;
}

.politic a {
  color: var(--brand-blue-color);
}

.btn-form {
  display: block;
  margin: auto;
}

.checkbox-icon-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid var(--brand-black-color);
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 10%;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox:checked + .checkbox-icon-box {
  background-color: var(--brand-blue-color);
  background-origin: border-box;
  border: transparent;
}
/*# sourceMappingURL=main.css.map */