// Мобильное меню
body{
    height: 300vh;
}
.no-scroll{
    overflow-y: hidden;
}
.menu-btn{
position: relative;

    width: 40px;
    height: 40px;
    padding:0;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 10;

    &__icon{
width: 40px;
height: 40px;

        &-open{
    opacity: 1;
    transition: opacity var(--animation), tranform var(--animation);
        }
        &-close{
            opacity: 0;
            transition: opacity var(--animation), tranform var(--animation);
        }
    }
    @media screen and(min-width:768px){
        display: none;
    }
}
.menu-btn.is-active .menu-btn__icon-open{
opacity: 0;
}
.menu-btn.is-active .menu-btn__icon-close{
    opacity: 1;
}

.mobile-menu{
    width: 100vw;
    height: 100%;
    background-color: var(--background-page);
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform var(--animation), opacity var(--animation);

    @media screen and(min-width:768px){
        display: none;
    }
   
    &.is-open{
        opacity: 1;
        transform: translateX(0);
    }
}




.mobile-nav{
margin-bottom: 302px;
    &__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--brand-black-color);
    
    
    }
    &__link:hover{
        color: var(--brand-blue-color);
    }
}
.mobile-contacts__tel{
    @media screen and(max-width:479px){
font-size: 24px;
    }
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    color: var(--brand-blue-color);
    
}
.mobile-contacts__item-tel{
margin-bottom: 32px;
}
.mobile-contacts__mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--brand-grey-color);
    
}
.mobile-contacts__item-mail{
margin-bottom: 64px;
}
.mobile-socials{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-right: -10px;

    &__item{
        margin-top: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        &:not(:last-child){
        margin-right: 10px;
        }
        &:last-child {
            
            border: none;
        }
        &:last-child .mobile-socials__link{
            padding-right: 0;
        }
    }


    &__link{
        padding-right: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--brand-blue-color);
       
       
    }
}
.current {
    color: var(--brand-blue-color);
}