//projects
.project-filter {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.project-button {

    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}



.button-filter {
    all: unset;
    color: inherit;
    background-color: var(--background-button-grey);
    border-radius: 4px;
    font-family: inherit;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    padding: 6px 22px;

    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);


&:hover,
&:focus {
    color: var(--brand-white-color);
    background-color: var(--brand-blue-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}
}



.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));

    .link {
        text-decoration: none;
    }
}

.project-item {
    background-color: var(--brand-white-color);
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc((100% - 90px) / 3);
    transition: box-shadow var(--animation);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
    }
    &:hover .project-text,
    &:focus .project-text {
        transform: translateY(0);
    }
}



.project-name {
    color: var(--brand-black-color);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;

}

.project-desc {
    color: var(--brand-grey-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    margin: 0;
}

.project-block {
    padding: 20px 24px;
}

.project-img {
    position: relative;
    overflow: hidden;
}

.project-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    margin-bottom: 0;

    color: var(--background-page);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translateY(102%);
    transition: transform var(--animation);

}