//Форма подписаться
//Форма подписаться
.icon-send {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.subscribe-form {

    width: 450px;
    height: 50px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    @media screen and(min-width:1200px){
margin-right: 12px;
margin-bottom: 0;
width: 358px;
    }
}

.subscribe-form[placeholder] {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media screen and(max-width:1199px){
    margin-left: auto;
    margin-right: auto;
    }
}

.subscribe-box {
    text-align: center;
    @media screen and(min-width:1200px){
    padding-top: 12px;
    margin-left: auto;
    text-align: left;
    }

}

.subscribe-form-box {
    @media screen and(min-width:1200px){
    display: flex;
    }
}

// .icon-send {
//     display: inline-block;
//     width: 24px;
//     height: 24px;
//     margin-left: 10px;
// }

// .subscribe-form {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
    
//     align-items: center;
//     letter-spacing: 0.03em;
    
//     color: rgba(255, 255, 255, 0.6);
    
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-sizing: border-box;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: transparent;

//         margin-bottom: 20px;
//         margin-right: 0;
//         width: 450px;
//         height: 50px;
//         @media screen and(min-width:768px){
//             margin-left: 151px;
//             margin-right: 137px;
//         }
//     @media screen and(min-width:1200px){
//     width: 358px;
    
//     margin-right: 12px;
//     margin-bottom: 0;
//     margin-left: 0;
// }
    
// }

// .subscribe-form[placeholder] {
//     padding-left: 16px;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;

//     align-items: center;
//     letter-spacing: 0.03em;

//     color: rgba(255, 255, 255, 0.6);
// }

// .btn-subscribe {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .subscribe-box {

//         display: flex;
        
//         flex-wrap: wrap;
//         @media screen and(max-width:1190px){
//             justify-content: center;
//         }
//     @media screen and(min-width:1200px){
//     padding-top: 12px;
//     margin-left: auto;
//     display: block;
    
//     }
// }

// .subscribe-form-box {
// justify-content: center;
//     display: flex;
//     flex-wrap: wrap;
//     @media screen and(min-width:1200px){
//         flex-wrap: nowrap;
//     }
// }